body {
    font-family: 'Roboto', sans-serif;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13pt;
    line-height:1.5;
    text-align: justify;
}
h1 {
    color:rgb(19, 151, 151);
}
h3 {
    background-color:rgb(66, 189, 189);
}
li {
    color:rgb(164, 78, 244);
}
li:hover {
    color:rgb(228, 228, 19);
   }
div.a {
    width: 560px;
    height: 430px;
    background-color: rgb(194, 186, 186);
}
.chuthich {
    color: rgb(66, 68, 189);
    text-align: center;
}
.hm {
    text-align: right;
}
img {
    width: 450px;
    height: 300px;
    margin: 10px 50px auto 50px;
}